In [1]:
nest = [1, 2, 3, [4, 5, ['target']]]

In [3]:
nest[3][2][0]

'target'

In [4]:
nest[-1][-1][-1]

'target'

In [5]:
employee = [
    {
        'name': 'Yeldos',
        'salary': 6000
    },
    {
        'name': 'Aybek',
        'salary': 4000
    },
    {
        'name': 'Yelaman',
        'salary': 5000
    },
    
]

In [6]:
employee

[{'name': 'Yeldos', 'salary': 6000},
 {'name': 'Aybek', 'salary': 4000},
 {'name': 'Yelaman', 'salary': 5000}]

In [13]:
list(filter(lambda e: e['name'] == 'Yeldos', employee))

[{'name': 'Yeldos', 'salary': 6000}]

In [16]:
list(filter(lambda e: e['salary'] >= 5000, employee))

[{'name': 'Yeldos', 'salary': 6000}, {'name': 'Yelaman', 'salary': 5000}]

In [17]:
from operator import itemgetter

In [18]:
sorted(employee, key=itemgetter('salary'))

[{'name': 'Aybek', 'salary': 4000},
 {'name': 'Yelaman', 'salary': 5000},
 {'name': 'Yeldos', 'salary': 6000}]

In [20]:
sorted(employee, key=lambda e: e['name'])

[{'name': 'Aybek', 'salary': 4000},
 {'name': 'Yelaman', 'salary': 5000},
 {'name': 'Yeldos', 'salary': 6000}]

In [22]:
list(filter(lambda e: e['name'][0] == 'A', employee))

[{'name': 'Aybek', 'salary': 4000}]

In [24]:
for i in list(filter(lambda e: e['salary'] >= 5000, employee)):
    print(i["name"])

Yeldos
Yelaman

In [28]:
for i in employee:
    if i['salary'] >= 5000:
        print(i['name'])

Yeldos
Yelaman

In [36]:
sqrs = []
for i in range(11):
    sqrs.append(2**i)

In [37]:
sqrs

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [38]:
sqrs[-1]

1024

In [45]:
fib = [0, 1]
for i in range(2, 20):
    fib.append(fib[-1] + fib[-2])

In [46]:
fib

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181]

In [44]:
fib[-1]

4181

In [111]:
email = input("Enter your e-mail: ")
user, domain = email.split("@")
domains = domain.split(".")

Enter your e-mail: dosya@inbox..ru

In [121]:
def char_validation(query):
    return all([[97 <= ord(s.lower()) <= 122 \
                or s in ["_", ".", "-"] \
                or s in range(0,9)] \
                for s in query]) \
                and len(query) > 0

In [122]:
valid = False
if email.count("@") == 1 and email.count(".") >= 1:
    validation = [char_validation(q) for q in [user] + domains]
    print(validation)
    if len(set(validation)) == True:
        valid = True
print("Valid" if valid else "Wrong", "email")

[True, True, False, True]
Wrong email