## Basics

In [14]:
1+1

2

In [16]:
1*3

3

In [22]:
3//2

1

In [24]:
5//2

2

In [26]:
4%2

0

In [27]:
5%2

1

In [29]:
2**4

16

In [30]:
(2+3)*(5+5)

50

In [31]:
a=5

In [33]:
a+5

10

In [34]:
a

5

In [35]:
a=7

In [37]:
b

6

In [39]:
a+b

13

In [40]:
a=a+b

In [41]:
a

13

In [42]:
a=a+1

In [43]:
a

14

In [44]:
a+=1

In [45]:
a

15

In [46]:
b = "Apple"

In [47]:
b

'Apple'

In [49]:
a = "It's my life"

In [52]:
a = 'fdjhfkd "dsjkjkdsjkds" lsdk sdlkdls'

In [53]:
a

'fdjhfkd "dsjkjkdsjkds" lsdk sdlkdls'

In [54]:
a = "Banana"

In [55]:
a = a * 3

In [56]:
a

'BananaBananaBanana'

In [57]:
a[0]

'B'

In [58]:
a[1]

'a'

In [59]:
len(a)

18

In [61]:
a[17]

'a'

In [62]:
a[5:10]

'aBana'

In [64]:
print(a)
print(2+2)

BananaBananaBanana
4

In [65]:
name = "Timur"
age = 36

In [66]:
print("My name is {} and I am {} years old".format(name,age))

My name is Timur and I am 36 years old

In [68]:
print("My name is " + name + " and I am " + str(age) + " years old")

My name is Timur and I am 36 years old

In [69]:
a = [5,7,3,8,6,6,6,5,43,32,3]

In [70]:
a

[5, 7, 3, 8, 6, 6, 6, 5, 43, 32, 3]

In [71]:
a[3]

8

In [72]:
a[3:6]

[8, 6, 6]

In [73]:
a[3:7]

[8, 6, 6, 6]

In [74]:
c = ['2', 4, 5, 'afsdf']

In [75]:
c

['2', 4, 5, 'afsdf']

In [76]:
type(c)

list

In [77]:
type(c[1])

int

In [78]:
type(c[0])

str

In [79]:
c[0]=7
c

[7, 4, 5, 'afsdf']

In [80]:
c.append(67)

In [81]:
c

[7, 4, 5, 'afsdf', 67]

In [82]:
c.append('rfdfd')
c

[7, 4, 5, 'afsdf', 67, 'rfdfd']

In [83]:
c+=[33]

In [84]:
c

[7, 4, 5, 'afsdf', 67, 'rfdfd', 33]

In [85]:
a+c

[5, 7, 3, 8, 6, 6, 6, 5, 43, 32, 3, 7, 4, 5, 'afsdf', 67, 'rfdfd', 33]

In [86]:
d = ['hi',3,[1, 2]]
d

['hi', 3, [1, 2]]

In [87]:
d[2]

[1, 2]

In [88]:
d[2][0]

1

In [90]:
nest = [1,2,3, [4,5,['target']]]

In [91]:
nest

[1, 2, 3, [4, 5, ['target']]]

In [92]:
nest[3]

[4, 5, ['target']]

In [93]:
nest[3][2]

['target']

In [94]:
nest[3][2][0]

'target'

In [95]:
nest[3][2][0][3]

'g'

In [101]:
d = {'key1':'item1', 'key2':'item2', q: "String"}
d

{'key1': 'item1', 'key2': 'item2', '123': 'String'}

In [102]:
q = "123"
q1 = 123

In [104]:
d[q] = "String"
d[q1] = "Number"

In [105]:
d

{'key1': 'item1', 'key2': 'item2', '123': 'String', 123: 'Number'}

# Создать список (list) сотдруников из нескольких словарей (dict), в которых есть поля: "name", "salary"

[{},{},{},...]

In [173]:
a = [{"name": "Vasya", "salary": 500},{"name": "Aidos", "salary":200}]

In [174]:
a

[{'name': 'Vasya', 'salary': 500}, {'name': 'Aidos', 'salary': 200}]

In [175]:
a.append({"name":"Nurzhan", "salary": 800})

In [176]:
a

[{'name': 'Vasya', 'salary': 500},
 {'name': 'Aidos', 'salary': 200},
 {'name': 'Nurzhan', 'salary': 800}]

In [110]:
True

True

In [111]:
False

False

In [112]:
3<5

True

In [113]:
4>5

False

In [114]:
3<5 and 5<3

False

In [115]:
3<5 or 5<3

True

In [116]:
a = {4,6,7,3,4,5,3,4,3}

In [117]:
a

{3, 4, 5, 6, 7}

In [118]:
a = [4,3,4,4,3,2,3,4]

In [120]:
set(a)

{2, 3, 4}

In [121]:
list(set(a))

[2, 3, 4]

In [122]:
a = [5,6,3,4,5,3]

In [127]:
sorted(a)

[3, 3, 4, 5, 5, 6]

In [128]:
a

[3, 3, 4, 5, 5, 6]

In [129]:
a.sort()

In [130]:
a

[3, 3, 4, 5, 5, 6]

In [134]:
a = [3,4,5,6]
a.index(5)

2

In [135]:
a = [4,5,6,7,6,5,4,5,4,3]

In [140]:
5<5

False

In [141]:
5<=5

True

In [142]:
5>=5

True

In [143]:
5!=5

False

In [144]:
not 5 == 5

False

In [145]:
5=5

SyntaxError: can't assign to literal (<ipython-input-145-716d4afe7cec>, line 1)

In [146]:
5 == 5

True

In [147]:
'hi' == 'hi '

False

In [148]:
'apple' == 'apple'

True

In [150]:
if 1 < 2:
    k = 5
    print('true')
else:
    print('false')

true

In [156]:
if 2 >= 2:
    print('first')
    print('ds')
elif 2 == 2:
    print('second')
else:
    print('third')
    print('2+2')
print("Hi!")

first
ds
Hi!

In [157]:
fruits = ["Apple", "Orange", "Banana", "Cherry"]

In [158]:
fruits

['Apple', 'Orange', 'Banana', 'Cherry']

In [168]:
for fruit in fruits:
    print("next element",fruit)
    if fruit in ["Apple", "Banana"]:
        print("I like " + fruit)
    if fruit == "Orange" or fruit == "Cherry":
        print("I don't like", fruit)
    if fruit[0] == "A":
        print("starts from 'a'")

next element Apple
I like Apple
starts from 'a'
next element Orange
I don't like Orange
next element Banana
I like Banana
next element Cherry
I don't like Cherry

In [171]:
for i in range(5,10,2):
    print(i)

5
7
9

In [177]:
a

[{'name': 'Vasya', 'salary': 500},
 {'name': 'Aidos', 'salary': 200},
 {'name': 'Nurzhan', 'salary': 800}]

In [ ]:
ВЫВЕСТИ ИМЕНА ТЕХ У КОГО ЗП > 300

In [178]:
for i in a:
    if i['salary'] > 300:
        print(i['name'])

Vasya
Nurzhan

In [181]:
i = 1
while i < 5:
    i = i + 1
    print('i is {}'.format(i))

i is 2
i is 3
i is 4
i is 5

In [182]:
i

5

[1,2,4,8,16,32,...]

In [183]:
a = []
for i in range(11):
    a.append(2**i)
a

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

In [186]:
a = [1]
for i in range(11):
    a.append(a[-1]*2)
a

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048]

In [187]:
name = input("Enter your name:")
print("Hi,",name)

Enter your name:Timur
Hi, Timur

In [188]:
name.lower()

'timur'

In [189]:
name.upper()

'TIMUR'

In [190]:
a = "My name is Timur"

In [191]:
a.split()

['My', 'name', 'is', 'Timur']

In [194]:
a = "lkdslklks,dskjldsklklds,sdklsdklklsd,sddslk"
for el in a.split("s,"):
    print(el)

lkdslklk
dskjldsklkld
sdklsdklklsd,sddslk

In [198]:
a.count("s")

10

In [199]:
def plus(a,b):
    c = a+b
    return c

In [207]:
a = 6
b = 7
a,b = b,a
print(a,b)

7 6

In [228]:
def legal(s):
    for letter in s:
        if not(letter.isalnum() or letter in ["_","-","#"]):
            return False
    return True

In [229]:
def correct_email(a):
    if a.count("@") != 1:
        return False
    left,right = a.split("@")
    if "." not in right:
        return False
    if len(left) == 0:
        return False
    words = left.split(".") + right.split(".")
    for word in words:
        if len(word) == 0:
            return False    
        if not legal(word):
            return False
    if any(len(word) == 0 for word in words):
        return False
        
    
    return True

In [230]:
correct_email("j.jj@hghh.llk_k.ddd")

True

In [204]:
minimum(7,8)

8